/* fonts` */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,124;1,124&display=swap');

/* container styling */
.homeBox {
    width: 750px;
    margin-top: 10rem;
}

/* header styling & animation */
.homeBox .header {
    font-family: 'Exo 2', sans;
    font-size: 143px;
    font-weight: 700;
    color: linear-gradient(135deg, #ffffff, #e6e6e6 40%, #ffffff);
    position: relative;
    /* background: linear-gradient(120deg, #ffffff 48%, #fff1ce 50%, #ffffff 53%);
    background-size: 300%; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3.5s ease-in 1;
    animation-delay: 0s; */
}

.homeBox .header:hover {
    background: linear-gradient(120deg, #ffffff 48%, #fff1ce 50%, #ffffff 53%);
    background-size: 300%; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4.5s ease-in infinite;
    cursor: pointer;
}

@keyframes shine {
    0% {
        background-position: 85%;
    }
    100% {
        background-position: -70%;
    }
}

/* subhear styling */
.homeBox .subheader {
    font-family: 'Josefin Sans', sans;
    font-size: 24px;
    font-weight: 350;
    text-transform: uppercase;
    background: -webkit-linear-gradient(260deg, #fff5e3 17%, #ffcb79 65%, #ffc53e 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* intro line styling */
.homeBox .intro {
    font-family: 'Josefin Sans', sans;
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-style: italic;
}

/* tagline styling */
.homeBox .tagline {
    font-family: 'Exo', sans;
    font-size: 24px;
    font-weight: 575;
    color: white;
    font-style: italic;
    line-height: 34px;
}

.homeBox span {
    color: #ffcb51;
}

/* button styling & animations */
.homeContainer .chevronBtn {
    position: fixed; 
    bottom: 70px;    
    animation: bounce 2.5s ease 1, bounce2 2.5s ease 1, bounce3 2.5s ease 1, pulse 3s ease infinite;
    animation-delay: 0.5s, 5s, 10s, 14s;
}

@keyframes bounce {
	0%, 10%, 30%, 50%, 70%, 100% {transform: translateY(0);}
	20% {transform: translateY(-45px);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@keyframes bounce2 {
	0%, 10%, 30%, 50%, 70%, 100% {transform: translateY(0);}
	20% {transform: translateY(-45px);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@keyframes bounce3 {
	0%, 10%, 30%, 50%, 70%, 100% {transform: translateY(0);}
	20% {transform: translateY(-45px);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.18); }
    100% { transform: scale(1); }
}

/* @keyframes bounce3 {
    0%, 10%, 50%, 70%, 100% {transform: translateY(0);}
    20% {transform: translateY(-45px);}
    40% {transform: translateY(15px);}
} */