/* fonts` */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,124;1,124&display=swap');

/* header styling */
.homeBox .header {
    font-family: 'Exo 2', sans;
    font-size: 100px;
    font-weight: 700;
    color: white;
}

/* subhear styling */
.homeBox .subheader {
    font-family: 'Josefin Sans', sans;
    font-size: 18px;
    font-weight: 350;
    text-transform: uppercase;
    background: -webkit-linear-gradient(310deg, #ffffff 40%, #ffd572 60%, #ffbb00 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* intro line styling */
.homeBox .intro {
    font-family: 'Josefin Sans', sans;
    font-size: 16px;
    font-weight: 330;
    color: white;
    text-transform: uppercase;
}

/* tagline styling */
.homeBox .tagline {
    font-family: 'Exo', sans;
    font-size: 16px;
    font-weight: 600;
    color: white;
    font-style: italic;
    line-height: 24px;
}

.homeBox span {
    color: #ffbb00;
}

/* button styling & animations */
.homeContainer .chevronBtn {
    position: fixed; 
    bottom: 50px;    
    animation: bounce 2.5s ease 3, bounce2 3s ease infinite;
    animation-delay: 0s, 60s;
    /* animation: bounce 2s ease 5, pulse 1.5s ease infinite; */
}

@keyframes bounce {
	0%, 10%, 30%, 50%, 70%, 100% {transform: translateY(0);}
	20% {transform: translateY(-45px);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@keyframes bounce2 {
	0%, 10%, 30%, 50%, 70%, 100% {transform: translateY(0);}
	20% {transform: translateY(-45px);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/* @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
} */