/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* navbar container */
.navBox {
    /* background-color: blue; */
    position: relative;
}

/* logo positioning */
.logo {
    position: absolute;
}

/* navbar button styling */
.navBox .navBtn {
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.05rem;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    /* color: #fff5dc; */
}