/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');

/* carousel styling */
.carousel {
    width: 100%;
    height: 100%;
    /* margin-left: 1rem; */
}

.media-container {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 3%;
}

.media-item {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
}

/* Make dots visible and center them */
.slick-dots {
  margin-top: 2rem
}

/* Style all dots */
.slick-dots li button:before {
  font-size: 0.5rem;
  color: #e6e6e6; /* Default dot color */
  opacity: 0.3;
}

/* Style active dot */
.slick-dots li.slick-active button:before {
  color: #e3bf5c; /* Gold color */
  opacity: 1;
}



/* info card styling */
.info-container {
  padding-left: 1rem;
}

.info-container .title {
    font-family: 'Exo 2', sans;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 25%;
}

.info-container .role {
    font-family: 'Josefin Sans', sans;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 25%;
}

.info-container .description {
    font-family: 'Exo 2', sans;
    font-size: 18px;
    font-weight: 300;
}

.info-container .demo-link {
    text-decoration: underline;
    font-size: 14px;
}





