/* carousel styling */
.media-container {
    max-width: 880px;
    min-width: 880px;
}

.media-item {
    max-width: 50vw;
    max-height: 50vh;
    /* width: auto; */
    /* height: auto; */
    object-fit: contain; /* Ensures the image/video maintains its aspect ratio */
    border-radius: 3%;
  }
  
/* arrow button styling */
.nextBtn {
    margin-right: -16rem;
}
